@page "/"
@inject IApiClient ApiClient
@inject IRandomString RandomString
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService
@using System.Security.Cryptography
@using System.Text
@using privatext.Client.HttpClient
@using privatext.Services

<PageTitle>Privatext</PageTitle>
<RadzenStack Orientation="Orientation.Vertical" Gap="2rem" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Style="height: 80vh;">
    <RadzenStack Visible="@ShowTextInput" JustifyContent="JustifyContent.Center" Orientation="Orientation.Vertical" Gap="10px">
        <h4>Create your private text</h4>
        <RadzenTextArea @bind-Value="@Content" Placeholder="Enter your text message here..." MaxLength="4000" Rows="15" Cols="100"></RadzenTextArea>
        <RadzenStack Orientation="Orientation.Horizontal">
            <RadzenButton Click="@CreateMessage" Text="Create" ButtonStyle="ButtonStyle.Success" />
        </RadzenStack>
    </RadzenStack>
    <RadzenStack Visible="@(!@ShowTextInput)" JustifyContent="JustifyContent.Stretch" Orientation="Orientation.Vertical" Gap="10px">
        <RadzenProgressBarCircular ShowValue="false" Visible="@IsLoading" Mode="ProgressBarMode.Indeterminate" />
        <RadzenStack JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Stretch" Orientation="Orientation.Vertical" Visible="@(!@IsLoading)">
            <RadzenFormField Text="Link" Style="width: 50vh">
                <ChildContent>
                    <RadzenTextBox @bind-Value="@TextUrl" />
                </ChildContent>
                <End>
                    <RadzenIcon Visible="true" Icon="done" IconStyle="IconStyle.Secondary" />
                </End>
            </RadzenFormField>
            <RadzenStack JustifyContent="JustifyContent.Center" Orientation="Orientation.Horizontal">
                <RadzenButton>Copy link</RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Danger">Delete</RadzenButton>
                <RadzenButton Click="@NewText" ButtonStyle="ButtonStyle.Success">Create</RadzenButton>
            </RadzenStack>
        </RadzenStack>
    </RadzenStack>
</RadzenStack>

@code {

    private string Content { get; set; }
    private string TextUrl { get; set; }
    private bool ShowTextInput { get; set; }
    private string TextId { get; set; }
    private bool IsLoading { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ShowTextInput = !ShowTextInput;
        IsLoading = false;
    }

    private async Task CreateMessage()
    {
        if(string.IsNullOrEmpty(Content))
        {
            NotificationService.Notify(new NotificationMessage 
            { 
                Severity = NotificationSeverity.Error, 
                Summary = "Warning", 
                Detail = "Message cannot be empty",
            });

            return;
        }

        ShowTextInput = false;
        IsLoading = true;

        var id = RandomString.Generate(32);
        var result = await ApiClient.CreateMessageEndpointAsync(new CreateMessageRequest
        {
            MessageDTO = new MessageDTO
            {
                MessageId = id,
                Content = Content,
            },
        });

        await Task.Delay(2000);

        if(result)
        {
            TextId = id;
            TextUrl = $"{NavigationManager.BaseUri}text/{id}";
            ShowTextInput = false;
            IsLoading = false;
            NotificationService.Notify(new NotificationMessage
            {
                Severity = NotificationSeverity.Success,
                Summary = "Status",
                Detail = "Private text successfully created",
            });
        }
    }

    private void NewText()
    {
        Content = TextUrl = TextId = string.Empty;
        ShowTextInput = true;
    }
}
