@page "/"
@inject IApiClient ApiClient
@inject IRandomString RandomString
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService
@using System.Security.Cryptography
@using System.Text
@using privatext.Client.HttpClient
@using privatext.Services

<PageTitle>Privatext</PageTitle>

@* <div class="rz-p-0 rz-p-md-12">
    <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="2rem">
        <RadzenColumn Size="12">
            <RadzenStack Visible="@ShowTextInput" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Orientation="Orientation.Vertical" Gap="10px">
                <h4 class="custom-font">Create your private text</h4>
                <RadzenTextArea Style="width: 100%" @bind-Value="@Content" Placeholder="Enter your text message here..." MaxLength="4000" Cols="79" Rows="15"></RadzenTextArea>
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenButton Click="@CreateMessage" Text="Create" ButtonStyle="ButtonStyle.Success" />
                </RadzenStack>
            </RadzenStack>
            <RadzenStack Visible="@(!@ShowTextInput)" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Orientation="Orientation.Vertical" Gap="10px">
                <RadzenStack JustifyContent="JustifyContent.Center" Orientation="Orientation.Horizontal">
                    <RadzenProgressBarCircular ShowValue="false" Visible="@IsLoading" Mode="ProgressBarMode.Indeterminate" />
                    <RadzenFormField Text="Share this link: " Style="width: 50vh">
                        <ChildContent>
                            <RadzenTextBox @bind-Value="@TextUrl" />
                        </ChildContent>
                        <End>
                            <RadzenIcon Visible="true" Icon="done" IconStyle="IconStyle.Secondary" />
                        </End>
                    </RadzenFormField>
                </RadzenStack>
                <RadzenStack JustifyContent="JustifyContent.Center" Orientation="Orientation.Horizontal">
                    <RadzenButton>Copy link</RadzenButton>
                    <RadzenButton ButtonStyle="ButtonStyle.Danger">Delete</RadzenButton>
                    <RadzenButton class="rz-shadow-6 rz-ripple smooch-sans" Click="@NewText" ButtonStyle="ButtonStyle.Success">Create</RadzenButton>
                </RadzenStack>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
</div> *@

<RadzenStack Orientation="Orientation.Vertical" Gap="2rem" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center">
    <RadzenStack Visible="@ShowTextInput" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Orientation="Orientation.Vertical" Gap="10px" Style="width: 35vw; height: 70vh">
        <h4 class="custom-font">Create your private text</h4>
        <RadzenTextArea Style="width: 100%" @bind-Value="@Content" Placeholder="Enter your text message here..." MaxLength="4000" Cols="79" Rows="5" />
        <RadzenButton Click="@CreateMessage" Text="Create" ButtonStyle="ButtonStyle.Success" />
    </RadzenStack>
    <RadzenStack Visible="@(!@ShowTextInput)" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Orientation="Orientation.Vertical" Gap="10px">
        <RadzenStack JustifyContent="JustifyContent.Center" Orientation="Orientation.Vertical" Gap="5px" Style="width: 35vw; height: 70vh">
            <RadzenProgressBarCircular ShowValue="false" Visible="@IsLoading" Mode="ProgressBarMode.Indeterminate" />
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Link</RadzenText>
            <RadzenFormField Text="Share this link: ">
                <ChildContent>
                    <RadzenTextBox @bind-Value="@TextUrl" />
                </ChildContent>
                <End>
                    <RadzenIcon Visible="true" Icon="done" IconStyle="IconStyle.Secondary" />
                </End>
            </RadzenFormField>
            <RadzenText TextStyle="TextStyle.Subtitle2">Your message</RadzenText>
            <RadzenTextArea Style="width: 100%" @bind-Value="@Content" Placeholder="Enter your text message here..." MaxLength="4000" Cols="79" Rows="15" />
            <RadzenText TextStyle="TextStyle.Caption">(you will only see this once)</RadzenText>
            <RadzenButton ButtonStyle="ButtonStyle.Danger">Delete</RadzenButton>
            <RadzenButton Click="@NewText" ButtonStyle="ButtonStyle.Success">Create</RadzenButton>
        </RadzenStack>
    </RadzenStack>
</RadzenStack>


@code {

    private string Content { get; set; }
    private string TextUrl { get; set; }
    private bool ShowTextInput { get; set; }
    private string TextId { get; set; }
    private bool IsLoading { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ShowTextInput = !ShowTextInput;
        IsLoading = false;
    }

    private async Task CreateMessage()
    {
        if(string.IsNullOrEmpty(Content))
        {
            NotificationService.Notify(new NotificationMessage 
            { 
                Severity = NotificationSeverity.Error, 
                Summary = "Warning", 
                Detail = "Message cannot be empty",
            });

            return;
        }

        ShowTextInput = false;
        IsLoading = true;

        var id = RandomString.Generate(32);
        var result = await ApiClient.CreateMessageEndpointAsync(new CreateMessageRequest
        {
            MessageDTO = new MessageDTO
            {
                MessageId = id,
                Content = Content,
            },
        });

        if(result)
        {
            TextId = id;
            TextUrl = $"{NavigationManager.BaseUri}text/{id}";
            ShowTextInput = false;
            IsLoading = false;
            NotificationService.Notify(new NotificationMessage
            {
                Severity = NotificationSeverity.Success,
                Summary = "Status",
                Detail = "Private text successfully created",
            });
        }
    }

    private void NewText()
    {
        Content = TextUrl = TextId = string.Empty;
        ShowTextInput = true;
    }
}
